[submodule "devops_project_01"]
	path = devops_project_01
	url = https://github.com/Murtaza-001/devops_project_01.git
[submodule "devops1"]
	path = devops1
	url = https://github.com/Murtaza-001/devops1
